<% include header %>

<h1>O servidor bugou e fudeu tudo nesse caralho</h1>
</header>
<p>
	Veja os detalhes do erro:
	<br> <% error.message %>
</p>
<hr>
<p>
	Volte para a <a href="/">home page caraleo</a>
</p>
<% include footer %>